

@keyframes colorchange {
   0%   {border-color: rgb(88, 6, 129);}
   20%  {border-color: rgb(0, 229, 255);}
   40%  {border-color: rgb(26, 255, 0);}
   60%  {border-color: rgb(234, 255, 0);}
   80% {border-color: rgb(226, 14, 74);}
   100%   {border-color: rgb(88, 6, 129);}
 }
 
body{
    background-color: #BCD6F7;
    font-family: cursive;   border: 15px solid;
   animation: colorchange 4s linear infinite;
   padding: 0px;
   margin: 0px;
}


.one{
    display: block;
    background-color:#b1ebe9;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border:solid;
    border-width:1px;

}

.two{
        display: block;
        background-color: #f9f9a7;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        color:black;
        border:solid;
    border-width:1px;

}
.three{
    display: block;
    background-color:#f4a87c ;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border:solid;
    border-width:1px;

}

.four{
    display: block;
    background-color: #f8b3ca ;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border:solid;
    border-width:1px;

}
.five{
    display: block;
    background-color: thistle;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border:solid;
    border-width:1px;

}
.six{
    display: block;
    background-color:#adeac3 ;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border:solid;
    border-width:1px;

}

#life{
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    border-color: black;
    border-width: 2px;
    border: solid;
}

.child{background-color: #adeac3;}
.exile{ background-color: #afeaad;}
.search{ background-color: #d9e887;}
.war{ background-color: #eac3ad;}
.return{ background-color: #eaaddf;}
.later{ background-color: #cbadea;} 

#img{
    height:200px;
    width:200px;
    border-radius:18px;
    border:none;
    box-shadow:2px 2px 11px black;
    display: inline;
    box-align: right;
    padding: 10px;

}

marquee{
white-space: nowrap;
  overflow: hidden;
  animation: 10s linear infinite;
}

.gen{
    padding: 10px;
    margin: 5px;
    display: block;
    width:620px;
    box-shadow: 2px 2px 11px black;
    background-color: #f9f9a7;
}

.gen input{
    border: solid 1px black;
    border-radius: 2.5px;
    width: 500px;
    height:100px;
    font-size: larger;
}

.gen button{
    background-color: rgb(253, 150, 6);
    color:white;
    border:solid 1px rgb(228, 87, 16);
    border-radius: 2.5px;
    width: 100px;
    height:100px;
}
#banner{
    width: 100%;

}